@import url("homePage_css.css");

body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

#CONTENT{
	background: url("login.png");
}

.login{
	font-size: 25px;
	transform: translate(120%, 0%);
	top: 50%;
	left: 50%;
	width: 25%;
	text-align: center;
	padding: 30px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-family: "微軟正黑體", sans-serif;
}

.login img{
	font-size: 100px;
	margin: 20px auto;
}


input[type="text"], input[type="password"]{
	font-size: 16px;
	font-family: "微軟正黑體", sans-serif;
	padding: 5px;
	border-radius: 4px;
	margin: 10px auto;
	display: block;
	width: 60%;
}

button{
	margin: 20px auto;
	border: 0;
	padding: 6px 12px;
	font-size: 18px;
	font-family: "微軟正黑體", sans-serif;
	background: #000;
	color: #fff;
}

button:hover{
	background-color: #993336;
}

@media (max-width: 450px) {
	.login{
		width: 70%;
	}
}